@media screen and (max-width: 375px) {
    .sep-dashboard-welcome .welcome-text[data-v-0c8c315d] {
        display: flex;
        flex-direction: column
    }
}

.sep-bit-avatar[data-v-247453ba] {
    position: relative
}

[dir] .sep-bit-avatar[data-v-247453ba] {
    border-radius: 100%
}

.sep-bit-avatar .sep-bit-avatar-mask[data-v-247453ba] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none
}

[dir] .sep-bit-avatar .sep-bit-avatar-mask[data-v-247453ba] {
    background: rgba(0, 0, 0, .7);
    border-radius: 100%
}

.sep-bit-avatar .default-img[data-v-247453ba] {
    width: 72px;
    height: 72px
}

.sep-verified-label .text-verified[data-v-4eaa59c6] {
    color: var(--content-success)
}

[dir] .sep-verified-label .text-verified[data-v-4eaa59c6] {
    background-color: rgba(14, 203, 129, .12)
}

.sep-verified-label .text-unverified[data-v-4eaa59c6] {
    color: var(--content-disabled)
}

[dir] .sep-verified-label .text-unverified[data-v-4eaa59c6] {
    background-color: var(--background-primary)
}

.dashboard-userInfo .avatar-tags-wrapper[data-v-55078d1f] {
    height: 63px
}

.dashboard-userInfo .profile-btn-375[data-v-55078d1f] {
    display: none
}

.dashboard-userInfo .userInfo-displayname[data-v-55078d1f] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media screen and (max-width: 1024px) {
    .dashboard-userInfo .userInfo-displayname[data-v-55078d1f] {
        max-width: 500px
    }
}

@media screen and (max-width: 900px) {
    .dashboard-userInfo .userInfo-displayname[data-v-55078d1f] {
        max-width: 280px
    }
}

@media screen and (max-width: 767px) {
    .dashboard-userInfo .avatar-tags-wrapper[data-v-55078d1f] {
        height: auto
    }

    .dashboard-userInfo .userInfo-top-content .userInfo-wrapper[data-v-55078d1f], .dashboard-userInfo .userInfo-top-content[data-v-55078d1f] {
        flex-direction: column
    }

    .dashboard-userInfo .userInfo-top-content .userInfo-wrapper .sep-bit-avatar[data-v-55078d1f] {
        align-self: flex-start
    }

    .dashboard-userInfo .userInfo-top-content .avatar-tags-wrapper[data-v-55078d1f] {
        display: block
    }

    [dir] .dashboard-userInfo .userInfo-top-content .avatar-tags-wrapper[data-v-55078d1f] {
        margin-top: 4px
    }

    [dir=ltr] .dashboard-userInfo .userInfo-top-content .avatar-tags-wrapper[data-v-55078d1f] {
        margin-left: 0
    }

    [dir=rtl] .dashboard-userInfo .userInfo-top-content .avatar-tags-wrapper[data-v-55078d1f] {
        margin-right: 0
    }

    .dashboard-userInfo .userInfo-top-content .tags-wrapper[data-v-55078d1f] {
        min-height: 55px
    }

    [dir] .dashboard-userInfo .userInfo-top-content .tag-item[data-v-55078d1f], [dir] .dashboard-userInfo .userInfo-top-content .tags-wrapper[data-v-55078d1f] {
        margin-top: 8px
    }

    .dashboard-userInfo .profile-btn[data-v-55078d1f] {
        display: none
    }

    .dashboard-userInfo .profile-btn-375[data-v-55078d1f] {
        display: block
    }

    [dir] .dashboard-userInfo .profile-btn-375[data-v-55078d1f] {
        margin-top: 24px
    }
}

.sep-dashboard-rewards-title {
    color: var(--content-always-black)
}

[dir] .sep-dashboard-rewards-title {
    background-color: var(--background-purple-sharp)
}

[dir=ltr] .sep-dashboard-animate-button:hover .sep-dashboard-btn-icon-right {
    animation: shake-ltr .8s ease-in-out
}

[dir=rtl] .sep-dashboard-animate-button:hover .sep-dashboard-btn-icon-right {
    animation: shake-rtl .8s ease-in-out
}

@keyframes shake-ltr {
    0%, to {
        transform: translateZ(0)
    }
    50% {
        transform: translate3d(4px, 0, 0)
    }
}

@keyframes shake-rtl {
    0%, to {
        transform: translateZ(0)
    }
    50% {
        transform: translate3d(-4px, 0, 0)
    }
}

[dir] .sep-dashboard-referrals[data-v-c4cfbdfa] {
    background-color: var(--background-orange-soft)
}

.sep-dashboard-referrals .referrals-title[data-v-c4cfbdfa] {
    color: var(--content-always-black)
}

[dir] .sep-dashboard-referrals .referrals-title[data-v-c4cfbdfa] {
    background-color: var(--content-warning)
}

[dir] .sep-dashboard-referrals[data-v-4f0fa8a2] {
    background-color: var(--background-orange-soft)
}

.sep-dashboard-referrals .referrals-title[data-v-4f0fa8a2] {
    color: var(--content-always-black)
}

[dir] .sep-dashboard-referrals .referrals-title[data-v-4f0fa8a2] {
    background-color: var(--content-warning)
}

@media screen and (max-width: 1439px) {
    .sep-dashboard-referrals.not-newer[data-v-4f0fa8a2] {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
}

[dir] .sep-dashboard-webwallet[data-v-7b66f01c] {
    background-color: var(--background-blue-soft)
}

.sep-dashboard-webwallet .webwallet-title[data-v-7b66f01c] {
    color: var(--content-always-black)
}

[dir] .sep-dashboard-webwallet .webwallet-title[data-v-7b66f01c] {
    background-color: var(--background-blue-sharp)
}

.sep-dashboard-webwallet .webwallet-download[data-v-7b66f01c] {
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--content-primary)
}

[dir] .sep-dashboard-webwallet .webwallet-download[data-v-7b66f01c] {
    margin-top: 16px;
    border: 1px solid var(--content-primary);
    box-shadow: 0 4px 0 0 var(--content-primary);
    padding: 7px 12px;
    border-radius: 48px;
    background-color: var(--background-primary)
}

[dir] .sep-dashboard-webwallet .webwallet-download.white[data-v-7b66f01c]:hover {
    background: rgba(0, 0, 0, .05)
}

[dir] .sep-dashboard-webwallet .webwallet-download.black[data-v-7b66f01c]:hover {
    background: hsla(0, 0%, 100%, .05)
}

.sep-dashboard-webwallet .webwallet-img[data-v-7b66f01c] {
    position: absolute;
    bottom: 24px
}

[dir=ltr] .sep-dashboard-webwallet .webwallet-img[data-v-7b66f01c] {
    right: 24px
}

[dir=rtl] .sep-dashboard-webwallet .webwallet-img[data-v-7b66f01c] {
    left: 24px
}

.sep-dashboard-trader-pro[data-v-7200b6e6] {
    --trader-pro-bg-black: #363636;
    --trader-pro-bg-white: #1f1f1f;
    --trader-pro-content-inverse-primary-color: #00f0ff
}

[dir] .sep-dashboard-trader-pro.black[data-v-7200b6e6] {
    background-color: var(--trader-pro-bg-black)
}

[dir] .sep-dashboard-trader-pro.white[data-v-7200b6e6] {
    background-color: var(--trader-pro-bg-white)
}

.sep-dashboard-trader-pro .trader-pro-title[data-v-7200b6e6] span {
    color: var(--trader-pro-content-inverse-primary-color)
}

.sep-dashboard-trader-pro .trader-pro-desc[data-v-7200b6e6] span {
    color: var(--trader-pro-content-inverse-primary-color);
    font-size: 16px;
    font-weight: 600
}

.sep-dashboard-coupons .dashboard-coupons-value[data-v-86dcdea4] {
    display: inline-block;
    color: var(--content-link-default)
}

[dir=ltr] .sep-dashboard-coupons .dashboard-coupons-value[data-v-86dcdea4], [dir=rtl] .sep-dashboard-coupons .dashboard-coupons-value[data-v-86dcdea4] {
    margin-right: 4px;
    margin-left: 4px
}

.sep-dashboard-coupons .dashboard-coupons-token[data-v-86dcdea4] {
    color: var(--content-link-default)
}

@media screen and (max-width: 768px) {
    .sep-dashboard-api[data-v-48123b79], .sep-dashboard-coupons[data-v-86dcdea4] {
        width: 100%
    }
}

.sep-dashboard-account-sub-item[data-v-5ff42e9c], .sep-dashboard-account[data-v-5ff42e9c] {
    width: 50%
}

@media screen and (max-width: 767px) {
    .sep-dashboard-account[data-v-5ff42e9c] {
        width: 100%
    }
}

.sep-dashboard-spent[data-v-5a3d3ec8] {
    width: 50%
}

.sep-dashboard-spent .vip0-content[data-v-5a3d3ec8] {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden
}

[dir] .sep-dashboard-spent .sep-dashboard-spent-vip[data-v-5a3d3ec8] {
    background-color: var(--background-secondary)
}

.sep-dashboard-spent .sep-dashboard-spent-bgb-tag[data-v-5a3d3ec8] {
    position: relative;
    display: inline;
    width: 34px;
    height: 16px;
    line-height: 16px;
    color: var(--content-inverse-primary)
}

[dir] .sep-dashboard-spent .sep-dashboard-spent-bgb-tag[data-v-5a3d3ec8] {
    background-color: var(--content-error)
}

[dir=ltr] .sep-dashboard-spent .sep-dashboard-spent-bgb-tag[data-v-5a3d3ec8] {
    margin-left: 14px;
    padding-right: 4px;
    padding-left: 2px
}

[dir=rtl] .sep-dashboard-spent .sep-dashboard-spent-bgb-tag[data-v-5a3d3ec8] {
    margin-right: 14px;
    padding-left: 4px;
    padding-right: 2px
}

.sep-dashboard-spent .sep-dashboard-spent-bgb-tag[data-v-5a3d3ec8]:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0
}

[dir] .sep-dashboard-spent .sep-dashboard-spent-bgb-tag[data-v-5a3d3ec8]:before {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent
}

[dir=ltr] .sep-dashboard-spent .sep-dashboard-spent-bgb-tag[data-v-5a3d3ec8]:before {
    left: -8px;
    border-right: 8px solid var(--content-error)
}

[dir=rtl] .sep-dashboard-spent .sep-dashboard-spent-bgb-tag[data-v-5a3d3ec8]:before {
    right: -8px;
    border-left: 8px solid var(--content-error)
}

.sep-dashboard-spent .bgb-fees-tips[data-v-5a3d3ec8] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media screen and (max-width: 1600px) {
    .sep-dashboard-spent .vip-tips[data-v-5a3d3ec8] {
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .sep-dashboard-spent .bgb-fees-tips[data-v-5a3d3ec8] {
        max-width: 180px
    }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .sep-dashboard-spent .bgb-fees-tips[data-v-5a3d3ec8] {
        max-width: 260px
    }
}

@media screen and (max-width: 1024px) {
    .sep-dashboard-spent .bgb-fees-tips[data-v-5a3d3ec8] {
        max-width: 120px
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .sep-dashboard-spent .vip-tips[data-v-5a3d3ec8] {
        max-width: 146px
    }
}

@media screen and (max-width: 767px) {
    .sep-dashboard-spent[data-v-5a3d3ec8] {
        width: 100%
    }

    .sep-dashboard-spent .head-col-text1[data-v-5a3d3ec8] {
        max-width: 120px;
        width: 120px
    }

    .sep-dashboard-spent .head-col-text3[data-v-5a3d3ec8] {
        max-width: 80px;
        width: 80px
    }

    .sep-dashboard-spent .head-content1-text1[data-v-5a3d3ec8], .sep-dashboard-spent .head-content1-text3[data-v-5a3d3ec8], .sep-dashboard-spent .head-content2-text2[data-v-5a3d3ec8], .sep-dashboard-spent .head-content2-text3[data-v-5a3d3ec8] {
        max-width: 90px;
        width: 90px
    }
}

@media screen and (max-width: 468px) {
    .sep-dashboard-spent .vip-tips[data-v-5a3d3ec8] {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 160px
    }
}

[dir=ltr] .sep-dashboard-animate-button:hover .sep-dashboard-btn-icon-right[data-v-6d6097fe] {
    animation: shake-ltr-data-v-6d6097fe .8s ease-in-out
}

[dir=rtl] .sep-dashboard-animate-button:hover .sep-dashboard-btn-icon-right[data-v-6d6097fe] {
    animation: shake-rtl-data-v-6d6097fe .8s ease-in-out
}

@keyframes shake-ltr-data-v-6d6097fe {
    0%, to {
        transform: translateZ(0)
    }
    50% {
        transform: translate3d(4px, 0, 0)
    }
}

@keyframes shake-rtl-data-v-6d6097fe {
    0%, to {
        transform: translateZ(0)
    }
    50% {
        transform: translate3d(-4px, 0, 0)
    }
}

[dir] .sep-dashboard-security .security-low[data-v-6d6097fe] {
    background-color: rgba(247, 100, 126, .13)
}

.sep-dashboard-security .security-low .security-svg[data-v-6d6097fe] {
    color: var(--content-error)
}

[dir] .sep-dashboard-security .security-middle[data-v-6d6097fe] {
    background-color: rgba(255, 145, 66, .15)
}

.sep-dashboard-security .security-middle .security-svg[data-v-6d6097fe] {
    color: var(--content-warning)
}

[dir] .sep-dashboard-security .security-high[data-v-6d6097fe] {
    background-color: rgba(14, 203, 129, .13)
}

.sep-dashboard-security .security-high .security-svg[data-v-6d6097fe] {
    color: var(--content-success)
}

[dir] .sep-dashboard-security .main-content[data-v-6d6097fe] {
    background-color: var(--background-secondary)
}

@media screen and (max-width: 767px) {
    .sep-dashboard-security[data-v-6d6097fe] {
        width: 100%
    }
}

[dir=ltr] .sep-dashboard-animate-button:hover .sep-dashboard-btn-icon-right[data-v-5d4dfe3b] {
    animation: shake-ltr-data-v-5d4dfe3b .8s ease-in-out
}

[dir=rtl] .sep-dashboard-animate-button:hover .sep-dashboard-btn-icon-right[data-v-5d4dfe3b] {
    animation: shake-rtl-data-v-5d4dfe3b .8s ease-in-out
}

@keyframes shake-ltr-data-v-5d4dfe3b {
    0%, to {
        transform: translateZ(0)
    }
    50% {
        transform: translate3d(4px, 0, 0)
    }
}

@keyframes shake-rtl-data-v-5d4dfe3b {
    0%, to {
        transform: translateZ(0)
    }
    50% {
        transform: translate3d(-4px, 0, 0)
    }
}

[dir] .sep-dashboard-kyc .kyc-tag.kyc-unverified[data-v-5d4dfe3b] {
    background-color: var(--background-secondary)
}

[dir] .sep-dashboard-kyc .kyc-tag.kyc-verified[data-v-5d4dfe3b] {
    background-color: rgba(14, 203, 129, .13)
}

[dir] .sep-dashboard-kyc .kyc-low[data-v-5d4dfe3b] {
    background-color: rgba(247, 100, 126, .13)
}

.sep-dashboard-kyc .kyc-low .kyc-svg[data-v-5d4dfe3b] {
    color: var(--content-error)
}

[dir] .sep-dashboard-kyc .kyc-middle[data-v-5d4dfe3b] {
    background-color: rgba(255, 145, 66, .15)
}

.sep-dashboard-kyc .kyc-middle .kyc-svg[data-v-5d4dfe3b] {
    color: var(--content-warning)
}

[dir] .sep-dashboard-kyc .kyc-hight[data-v-5d4dfe3b] {
    background-color: rgba(14, 203, 129, .13)
}

.sep-dashboard-kyc .kyc-hight .kyc-svg[data-v-5d4dfe3b] {
    color: var(--content-success)
}

[dir] .sep-dashboard-kyc .main-content[data-v-5d4dfe3b] {
    background-color: var(--background-secondary)
}

.sep-dashboard-kyc .kyc-tagtext[data-v-5d4dfe3b] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media screen and (min-width: 1440px) and (max-width: 1550px) {
    .sep-dashboard-kyc .not-verified[data-v-5d4dfe3b] {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 42px
    }

    .sep-dashboard-kyc .kyc-title[data-v-5d4dfe3b] {
        max-width: 180px
    }

    .sep-dashboard-kyc .kyc-title.overflow-title[data-v-5d4dfe3b] {
        max-width: 182px
    }

    .sep-dashboard-kyc .kyc-tagtext[data-v-5d4dfe3b] {
        max-width: 80px
    }
}

@media screen and (min-width: 901px) and (max-width: 1400px) {
    .sep-dashboard-kyc .not-verified[data-v-5d4dfe3b] {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 42px
    }

    .sep-dashboard-kyc .kyc-title[data-v-5d4dfe3b] {
        max-width: 182px
    }

    .sep-dashboard-kyc .kyc-tagtext[data-v-5d4dfe3b] {
        max-width: 80px
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .sep-dashboard-kyc .not-verified[data-v-5d4dfe3b] {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 42px
    }

    .sep-dashboard-kyc .kyc-title[data-v-5d4dfe3b] {
        max-width: 146px
    }

    .sep-dashboard-kyc .kyc-tagtext[data-v-5d4dfe3b] {
        max-width: 50px
    }
}

@media screen and (max-width: 768px) {
    .sep-dashboard-kyc .kyc-withdrawal-tips[data-v-5d4dfe3b] {
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .sep-dashboard-kyc .kyc-title[data-v-5d4dfe3b] {
        max-width: 120px
    }

    .sep-dashboard-kyc .kyc-tagtext[data-v-5d4dfe3b] {
        max-width: 50px
    }
}

@media screen and (max-width: 767px) {
    .sep-dashboard-kyc[data-v-5d4dfe3b] {
        width: 100%
    }
}

@media screen and (max-width: 468px) {
    .sep-dashboard-kyc .kyc-title[data-v-5d4dfe3b] {
        max-width: 160px
    }

    .sep-dashboard-kyc .kyc-tagtext[data-v-5d4dfe3b] {
        max-width: 60px
    }
}

[dir] * .chart-container[data-v-f73601bc] canvas {
    background-color: var(--color-bg) !important
}

.account-card-shadow {
    transition: box-shadow .1s
}

[dir] .account-card-shadow {
    background-color: var(--background-primary)
}

[dir] .account-card-shadow:hover {
    box-shadow: 0 10px 15px -3px var(--background-secondary)
}

.account-wrapper[data-v-99ae892e] {
    scrollbar-width: none;
    -ms-overflow-style: none
}

.account-wrapper[data-v-99ae892e]::-webkit-scrollbar {
    display: none
}

[dir] * .chart-container[data-v-daef979e] canvas {
    background-color: var(--color-bg) !important
}

.asset-safe-card[data-v-3f754002] {
    transition: transform .3s ease
}

[dir] .asset-safe-card[data-v-3f754002]:hover {
    transform: translateY(-8px)
}

[dir] .asset-fresher-guide-card[data-v-5586e8b4]:active, [dir] .asset-fresher-guide-card[data-v-5586e8b4]:hover {
    border-color: var(--border-strength-200)
}

.asset-fresher-guide-card:active .card-header__jump_icon[data-v-5586e8b4], .asset-fresher-guide-card:hover .card-header__jump_icon[data-v-5586e8b4] {
    display: block
}

[dir] .sep-dashboard-assets .assets-bottom[data-v-45e2eb2e] {
    background-color: var(--background-secondary)
}

.sep-dashboard-assets .assets-hidden-tips[data-v-45e2eb2e] {
    color: var(--content-warning)
}

.sep-dashboard-assets .btns-375[data-v-45e2eb2e] {
    display: none
}

@media screen and (max-width: 767px) {
    .sep-dashboard-assets .btns-375[data-v-45e2eb2e] {
        display: flex;
        justify-content: space-around
    }

    [dir] .sep-dashboard-assets .btns-375[data-v-45e2eb2e] {
        margin-top: 24px
    }

    .sep-dashboard-assets .btns-375 button[data-v-45e2eb2e] {
        flex: 1
    }

    .sep-dashboard-assets .en-noassets-btns[data-v-45e2eb2e] {
        display: block;
        height: auto
    }

    [dir] .sep-dashboard-assets .en-noassets-btns div + div[data-v-45e2eb2e] {
        margin-top: 12px
    }

    .sep-dashboard-assets .zh-noassets-btns[data-v-45e2eb2e] {
        flex-direction: column;
        align-items: flex-start
    }

    [dir] .sep-dashboard-assets .zh-noassets-btns .div + div[data-v-45e2eb2e] {
        margin-top: 24px
    }
}

@media screen and (max-width: 480px) {
    .sep-dashboard-assets .currentCoin[data-v-45e2eb2e] {
        font-size: 24px
    }

    [dir] .sep-dashboard-assets .currentCoin[data-v-45e2eb2e] {
        margin-top: 2px
    }

    .sep-dashboard-assets .btns-375[data-v-45e2eb2e] {
        flex-wrap: wrap;
        gap: 8px
    }

    [dir=ltr] .sep-dashboard-assets .btns-375 .bit-button + .bit-button[data-v-45e2eb2e] {
        margin-left: 0
    }

    [dir=rtl] .sep-dashboard-assets .btns-375 .bit-button + .bit-button[data-v-45e2eb2e] {
        margin-right: 0
    }

    .sep-dashboard-assets .btns-375.four-btns-375[data-v-45e2eb2e] {
        display: grid;
        grid-template-columns:1fr 1fr
    }
}

@media screen and (max-width: 375px) {
    .sep-dashboard-assets .currentCoin[data-v-45e2eb2e] {
        font-size: 24px
    }
}

[dir] .dashboard-page .dashboard-card-left[data-v-8d17c708] {
    margin-top: 24px
}

.dashboard-page .dashboard-card-left .card-items-wrapper[data-v-8d17c708] {
    gap: 16px
}

.dashboard-page .dashboard-card-left .card-items-wrapper .card-item[data-v-8d17c708] {
    flex: 1
}

[dir] .dashboard-page .dashboard-card-left .card-items-wrapper .card-item[data-v-8d17c708] {
    margin-top: 16px
}

@media screen and (min-width: 1440px) {
    .dashboard-card-right[data-v-8d17c708] {
        width: 320px;
        min-width: 320px
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    [dir] .dashboard-card-left[data-v-8d17c708] {
        margin-top: 24px
    }

    [dir=ltr] .dashboard-card-left[data-v-8d17c708] {
        margin-right: 0
    }

    [dir=rtl] .dashboard-card-left[data-v-8d17c708] {
        margin-left: 0
    }
}

@media screen and (max-width: 767px) {
    [dir=ltr] .dashboard-card-left[data-v-8d17c708], [dir=ltr] .dashboard-page .dashboard-card-left[data-v-8d17c708] {
        margin-right: 0
    }

    [dir=rtl] .dashboard-card-left[data-v-8d17c708], [dir=rtl] .dashboard-page .dashboard-card-left[data-v-8d17c708] {
        margin-left: 0
    }

    .dashboard-page .dashboard-card-left .card-items-wrapper[data-v-8d17c708] {
        flex-direction: column;
        gap: 0
    }
}