.bit-skeleton__item {
    display: inline-block;
    height: 16px;
    width: 100%
}

[dir] .bit-skeleton__item {
    background: var(--bit-skeleton-color);
    border-radius: 4px
}

.bit-skeleton__circle {
    width: 44px;
    height: 44px;
    line-height: 44px
}

[dir] .bit-skeleton__circle {
    border-radius: 50%
}

.bit-skeleton__circle--large {
    width: 56px;
    height: 56px;
    line-height: 56px
}

.bit-skeleton__circle--small {
    width: 32px;
    height: 32px;
    line-height: 32px
}

.bit-skeleton__button {
    height: 40px;
    width: 64px
}

[dir] .bit-skeleton__button {
    border-radius: 4px
}

[dir] .bit-skeleton__button--round {
    border-radius: 64px
}

.bit-skeleton__p {
    width: 100%
}

.bit-skeleton__p.is-last {
    width: 50%
}

.bit-skeleton__text {
    width: 100%;
    height: 12px
}

.bit-skeleton__caption {
    height: 12px
}

.bit-skeleton__h1 {
    height: 24px
}

.bit-skeleton__h3 {
    height: 20px
}

.bit-skeleton__h5 {
    height: 16px
}

.bit-skeleton__image {
    width: unset;
    display: flex;
    align-items: center;
    justify-content: center
}

[dir] .bit-skeleton__image {
    border-radius: 0
}

.bit-skeleton__image svg {
    fill: var(--bit-svg-monochrome-grey);
    width: 22%;
    height: 22%
}

.bit-skeleton__textarea {
    height: 160px
}

@keyframes bit-skeleton-loading-ltr {
    0% {
        background-position: 100% 50%
    }
    to {
        background-position: 0 50%
    }
}

@keyframes bit-skeleton-loading-rtl {
    0% {
        background-position: 0 50%
    }
    to {
        background-position: 100% 50%
    }
}

.bit-skeleton {
    width: 100%
}

.bit-skeleton__first-line, .bit-skeleton__paragraph {
    height: 16px
}

[dir] .bit-skeleton__first-line, [dir] .bit-skeleton__paragraph {
    margin-top: 12px;
    background: var(--bit-skeleton-color)
}

[dir] .bit-skeleton.is-animated .bit-skeleton__item {
    background-size: 400% 100%
}

[dir=ltr] .bit-skeleton.is-animated .bit-skeleton__item {
    background-image: linear-gradient(90deg, var(--bit-skeleton-color) 25%, var(--bit-skeleton-to-color) 37%, var(--bit-skeleton-color) 63%);
    animation: bit-skeleton-loading-ltr 1.4s ease infinite
}

[dir=rtl] .bit-skeleton.is-animated .bit-skeleton__item {
    background-image: linear-gradient(-90deg, var(--bit-skeleton-color) 25%, var(--bit-skeleton-to-color) 37%, var(--bit-skeleton-color) 63%);
    animation: bit-skeleton-loading-rtl 1.4s ease infinite
}