.nav-title .nav-link-icon[data-v-738543fa] {
    color: var(--subnav-link-color)
}

.user-account-cancellation .btn-link[data-v-375fd1ae] {
    width: 225px
}

[dir] .user-account-cancellation .btn-link[data-v-375fd1ae] {
    margin-top: 14px
}

.user-account-cancellation .btn-link.secondary-btn[data-v-375fd1ae]:hover {
    color: #0d0e0e !important
}

[dir] .user-account-cancellation .btn-link.secondary-btn[data-v-375fd1ae]:hover {
    background-color: #e9ebeb !important;
    border-color: #e9ebeb !important
}

[dir] .user-account-cancellation .btn-link.primary-btn[data-v-375fd1ae]:hover {
    background-color: #27aec0 !important
}

@media screen and (max-width: 767px) {
    .user-account-cancellation .btn-link[data-v-375fd1ae] {
        width: 100%
    }

    [dir] .user-account-cancellation .btn-link[data-v-375fd1ae] {
        margin-top: 14px
    }

    [dir=ltr] .user-account-cancellation .btn-link + .btn-link[data-v-375fd1ae] {
        margin-left: 0
    }

    [dir=rtl] .user-account-cancellation .btn-link + .btn-link[data-v-375fd1ae] {
        margin-right: 0
    }
}